* {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0px;
  height: 100vh;
  max-width: 100%;
  background: pink; /*add image later*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  font-size: 70px;
  padding-bottom: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 30px;
  display: flex;
  justify-content: center;
}


#start-button {
  font-size: 25px;
  background-color: pink;
  display: flex;
  align-content: center;
  padding: 10px 10px;
  border-radius: 10px;
}

#restart-game-button {
  font-size: 25px;
  background-color: pink;
  display: flex;
  align-content: center;
  padding: 10px 10px;
  border-radius: 10px;
}

#game-start-screen {
  width: 60vh;
  max-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

#intro {
  border-style: dashed;
  border-radius: 10px;
  background-color: #ffc1cb;
  line-height: 1.5;
}

#game-container {
  display: block;
  width: 100%;
  justify-content: center;
  padding: 20px 0px;
}

#game-port {
  display: block;
  align-content: center;
  overflow: hidden;
  position: relative;
  background-image: url(/images/background-game-port.png);
  background-size: cover;
  animation: slide 4s linear infinite;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

#game-over {
  display: none;
}

.arrow-keys {
  width: 10%;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
}

.obstacles-intro {
  width: 40%;
}

.power-ups-intro {
  width: 30%;
}

.emily-image {
  width: 30%;
}
