* {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0px;
  height: 100vh;
  max-width: 100%;
  background: pink; /*add image later*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  font-size: 70px;
  padding-bottom: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-shadow: -2px 0 whitesmoke, 0 2px whitesmoke, 2px 0 whitesmoke,
    0 -2px whitesmoke;
}

h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: black;
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke,
    0 -1px whitesmoke;
}

h3 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke,
    0 -1px whitesmoke;
}

h4 {
  text-shadow: -0.5px 0 whitesmoke, 0 0.5px whitesmoke, 0.5px 0 whitesmoke,
    0 0.5px whitesmoke;
}

#background {
  background-image: url(/images/berlin-backg.gif);
  background-size: 1600px 460px;
}
#start-button {
  font-size: 25px;
  background-color: pink;
  display: flex;
  align-content: center;
  padding: 10px 10px;
  border-radius: 10px;
  border-style: dashed;
}

#restart-game-button {
  font-size: 25px;
  background-color: pink;
  display: flex;
  align-content: center;
  margin-top: 60px;
  padding: 10px 10px;
  border-radius: 10px;
}

#game-start-screen {
  width: 60vh;
  max-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

#intro {
  border-style: dashed;
  border-radius: 10px;
  background-color: #ffc1cb;
  line-height: 1.5;
}

#game-container {
  display: block;
  width: 100%;
  justify-content: center;
  padding: 20px 0px;
  color: white;
}

#game-port {
  display: block;
  align-content: center;
  overflow: hidden;
  position: relative;
  background-image: url(/images/background-game-port.png);
  background-size: cover;
  animation: slide 4s linear infinite;
}

#vitals {
  display: none;
}

#lives {
  color: white;
}

#score {
  color: white;
}

#high-score {
  color: white;
  margin-bottom: 30px;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

#game-over {
  display: none;
}

.arrow-keys {
  width: 10%;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
}

.obstacles-intro {
  width: 60%;
}

.power-ups-intro {
  width: 50%;
}

.emily-image {
  width: 50%;
  display: flex;
  border-radius: 50%;
}
